<div class="container-fluid h-100 mt-5">
 <div class="row justify-content-md-center">

   <div class="col-sm-3">
      <a href={{refImage}}><img src={{image}} title="source: imgur.com" style="width:300px"/></a>
   </div>

   <div class="col-sm-6">
     <h1>{{items.name}}</h1>

     <h3>Prix : {{items.price}} CHF</h3>
     <h3>Etat : {{items.state}}</h3>
     <h3>Catégorie : {{items.category}}</h3>

     <h3>Description :</h3>
     <h6>{{items.description}}</h6>

   </div>


   <div class="col-sm-9 mt-5">

     <h4>Vendeur : {{user.name}} {{user.surname}}</h4>
     <h4>Note de l'utilisateur : {{user.grade}}/5 </h4>
     <h4>Adresse email : {{user.email}} </h4>

   </div>
 </div>
</div>
