<div class="container-fluid h-100 mt-5">
 <div class="row justify-content-md-center">



   <div class="col-sm-3">
     <img src="../assets/images/livre3.jpg" style="width:300px">
   </div>




   <div class="col-sm-6">
     <h1>Le petit prince</h1>

     <h3>Prix : 5 CHF</h3>

     <h3>Description :</h3>
     <h6>Livre très peu utilisé. Livre très peu utilisé. Livre très peu utilisé. Livre très peu utilisé. Livre très peu utilisé. Livre très peu utilisé</h6>

   </div>






   <div class="col-sm-9 mt-5">

     <h4>Vendeur : Jean Dupont</h4>
     <h4>Note de l'utilisateur : * * * * *</h4>




     <div class="row justify-content-end mr-5">
       <div class="col-sm-2">
         <button type="button" class="btn btn-warning" style="width: 200px">Contacter l'annonceur</button>
       </div>
     </div>

   </div>








 </div>
</div>
