<div class="sticky-top">
<br><br><br><br><br><br>
<h2>Filters</h2>
<label class="pt-2">Prix de:</label>
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="range_from">
</div>
<label class="pt-2">Prix A:</label>
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="range_to">
</div>

<div class="dropdown pt-3">
  <!--
  <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Catégories
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Livres</a>
    <a class="dropdown-item" href="#">Mobilité</a>
    <a class="dropdown-item" href="#">Electronique</a>
    <a class="dropdown-item" href="#">Mobilier</a>
    <a class="dropdown-item" href="#">Notes de cours</a>
  </div>-->

  <select class="btn btn-danger btn-lg" (change)="selectChangeHandlerCat($event)">
   <option value="category">Catégories</option>
   <option value="book">Livres</option>
   <option value="elect">Electronique</option>
   <option value="mob">Mobilier</option>
   <option value="notes">Notes de cours</option>
  </select>
</div>

<p>selected: {{selectedCat}}</p>

<div class="dropdown pt-3">
  <!--
  <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Etats
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Neuf</a>
    <a class="dropdown-item" href="#">Occasion</a>
    <a class="dropdown-item" href="#">Abimé</a>
  </div>-->
  <select class="btn btn-info btn-lg" (change)="selectChangeHandlerState($event)">
   <option value="new">Neuf</option>
   <option value="good">En bon état</option>
   <option value="old">Abimé</option>
  </select>
</div>


<div class="row pt-3 justify-content-begin mr-5">
  <div class="col-sm-2">
    <button (click)="sendMesage()" type="button" class="btn btn-dark" style="width: 100px">Go</button>
  </div>
</div>
</div>
