<div class="sticky-top">
<br><br><br><br><br><br>
<h2>Filters</h2>
<label class="pt-2">Prix de:</label>
<div class="form-group has-search pt-3">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="CHF">
</div>
<label class="pt-2">Prix à :</label>
<div class="form-group has-search pt-3">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="CHF">
</div>
<!-- <div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="range_from">
</div>
<label class="pt-2">Prix A:</label>
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="range_to">
</div> -->

<div class="dropdown pt-3">
  <select class="btn btn-danger btn-lg" (change)="selectChangeHandlerCat($event)">
   <option value="all">Catégories</option>
   <option value="livre">Livres</option>
   <option value="elect">Electronique</option>
   <option value="mobilier">Mobilier</option>
   <option value="cours">Notes de cours</option>
  </select>
</div>

<p>selected: {{selectedCat}}</p>

<div class="dropdown pt-3">
  <select class="btn btn-info btn-lg" (change)="selectChangeHandlerState($event)">
    <option value="1">Etat</option>
   <option value="3">Neuf</option>
   <option value="2">En bon état</option>
   <option value="1">Abimé</option>
  </select>
</div>


<div class="row pt-3 justify-content-begin mr-5">
  <div class="col-sm-2">
    <button (click)="sendMesage()" type="button" class="btn btn-dark" style="width: 100px">Go</button>
  </div>
</div>
</div>
<p>message selectedCat: {{selectedCat}}</p>
