<div class="pt-3">
  <p class="font-weight-bold">Annonces</p>
</div>
<div class="row justify-content-between pb-5">
  <div class="col-3">
    <li class="list-group-item name-category">Catégorie</li>
    <li class="list-group-item">
      <a class="annonce" href="#">
        Eius populus ab incunabulis primis ad usque pueritiae tempus extremum, quod annis circumcluditur fere trecentis,
        circummurana pertulit bella, deinde aetatem ingressus adultam post multiplices bellorum aerumnas Alpes transcendit et fretum,
        in iuvenem erectus et virum ex omni plaga quam orbis ambit inmensus,
        reportavit laureas et triumphos, iamque vergens in senium et nomine solo aliquotiens vincens ad tranquilliora vitae discessit.
      </a>
    </li>
  </div>
  <div class="col-3">
    <li class="list-group-item name-category">Catégorie</li>
    <li class="list-group-item">
      <a class="annonce" href="#">
        Dum haec in oriente aguntur, Arelate hiemem agens Constantius post theatralis ludos atque circenses
        ambitioso editos apparatu diem sextum idus Octobres, qui imperii eius annum tricensimum terminabat, insolentiae pondera gravius librans,
        siquid dubium deferebatur aut falsum,
        pro liquido accipiens et conperto, inter alia excarnificatum Gerontium Magnentianae comitem partis exulari maerore multavit.
      </a>
    </li>
  </div>
  <div class="col-3">
    <li class="list-group-item name-category">Catégorie</li>
    <li class="list-group-item">
      <a class="annonce" href="#">
        Vide, quantum, inquam, fallare, Torquate. oratio me istius philosophi non offendit; nam et complectitur verbis, quod vult, et dicit plane,
        quod intellegam; et tamen ego a philosopho, si afferat eloquentiam, non asperner, si non habeat,
        non admodum flagitem. re mihi non aeque satisfacit, et quidem locis pluribus. sed quot homines, tot sententiae; falli igitur possumus.
      </a>
    </li>
  </div>
  </div>
