<div class="container">
  <h2>Messagerie :</h2>
<div *ngIf="longueur===0">
  Aucunes discussions existantes !
</div>
  <table class="table container">
    <tbody>
      <!-- <tr *ngFor="let d of list_discussion" class="d-flex" routerLinkActive="active"  routerLink="/discussion/{{d[0][0]}}"> -->
      <tr *ngFor="let d of list_discussion" class="d-flex">
        <td class="col-4">
          <tr>
            <p class="pt-1">
              His id : {{d[0][0]}}
            </p>
          </tr>
        </td>
        <td class="col-6">
          Message :
          <div>{{d[0][2]}}</div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
