<div class="container">
  <h2>Messagerie :</h2>
  <table class="table container">
    <tbody>
      <tr *ngFor="let d of list_discussion" class="d-flex" routerLinkActive="active" routerLink="/discussion">
        <!-- routerLinkActive="active" routerLink="achat/{{ad.id}}"> -->
        <td class="col-4">
          <tr>
            <p class="pt-1">
              Name : {{d.name}}
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              Photo: {{d.category}}
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              Item name : {{d.state}}
            </p>
          </tr>
        </td>
        <td class="col-6">
          Last message :
          <div>{{d.description}}</div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
