<div class="container-fluid h-100 mt-5">
 <div class="row justify-content-md-center">



   <div class="col-sm-3">
     <h3>Information personnelle</h3>
     <h3>Mes ventes</h3>
     <h3>Mes achats</h3>
     <h3>Mes annonces</h3>
     <h3>Review</h3>
     <h3>...</h3>
     <br><br><br><br><br><br><br><br><br><br>
     <br><br><br><br><br><br><br>
     <br><br>
   </div>



   <!--
   <div class="col-sm-6">
     <h1>Information personnelle</h1>
     <img src="../assets/images/mobilier3.jpg" style="width:300px">
     <button type="button" class="btn btn-warning" style="width: 200px">Modifier l'image</button>
     <h6>Prénom : Jean</h6>
     <h6>Nom : Dupont</h6>
     <h6>Age : 23 ans</h6>
     <h6>Adresse email : Jean.Dupont@etu.unige.ch</h6>
     <h6>Numéro étudiant : 000-000-000</h6>
     <h6>Adresse : Carouge, 1227, 6 rue des peupliers</h6>
     <h6>Faculté : Sciences</h6>
     <h6>Numéro de téléphone : +41 00 000 00 00</h6>
   </div>
 -->

  <div class="col-sm-6">
   <table class="table container">
     <tbody>
       <tr *ngFor="let item_id of list_items_user" class="d-flex"> <!-- routerLinkActive="active" routerLink="achat/{{id.id}}"-->
         <td class="col-2">
           <img src="../assets/images/livre1.jpg" style="width:100px">
         </td>
         <td class="col-4">
           <tr>
             <p class="pt-1">
               Titre: {{item_id.name}}
             </p>
           </tr>
           <tr>
             <p class="pt-1">
               Categorie: {{item_id.category}}
             </p>
           </tr>
           <tr>
             <p class="pt-1">
               Prix: {{item_id.price}}
             </p>
           </tr>
           <tr>
             <p class="pt-1">
               Etats: {{item_id.state}}
             </p>
           </tr>
           <!-- <tr>
             <p class="pt-1">
               Date: {{item_id.date}}
             </p>
           </tr> -->
         </td>
         <td class="col-6">
           Description: {{item_id.description}}
         </td>
       </tr>
     </tbody>
   </table>
  </div>




   <!-- <div class="col-sm-9 mt-5">



     <div class="row justify-content-end mr-5">
       <div class="col-sm-2">
         <button type="button" class="btn btn-warning" style="width: 200px">Modifier mes informations</button>
       </div>
     </div>

   </div> -->








 </div>
</div>
