<div class="form-group has-search pt-3">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
</div>

<div class="row pt-3 pb-3">
  <div class="dropdown col-sm-5">
    <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Catégories
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Livres</a>
      <a class="dropdown-item" href="#">Mobilité</a>
      <a class="dropdown-item" href="#">Electronique</a>
      <a class="dropdown-item" href="#">Mobilier</a>
      <a class="dropdown-item" href="#">Notes de cours</a>
    </div>
  </div>

  <div class="dropdown">
    <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Etats
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Neuf</a>
      <a class="dropdown-item" href="#">Occasion</a>
      <a class="dropdown-item" href="#">Abimé</a>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-sm-2 pt-2">
    <label for="ex1">De: </label>
  </div>
  <div>
    <input class="form-control" id="ex1" type="text" placeholder="CHF">
  </div>
</div>


<div class="row pt-3">
  <div class="col-sm-2 pt-2">
    <label for="ex1">A: </label>
  </div>
  <div>
    <input class="form-control" id="ex1" type="text" placeholder="CHF">
  </div>
</div>

<div class="row pt-3">
  <div class="col-sm-2 pt-2">
    <label for="ex1">Depuis: </label>
  </div>
  <div>
    <input class="form-control" id="ex1" type="text" placeholder="jj-mm-aaaa">
  </div>
</div>


<div class="row pt-3">
  <div class="col-sm-2 pt-2">
    <label for="ex1">A: </label>
  </div>
  <div>
    <input class="form-control" id="ex1" type="text" placeholder="jj-mm-aaaa">
  </div>
</div>

<div class="row pt-3 justify-content-end mr-5">
  <div class="col-sm-2">
    <button type="button" class="btn btn-dark" style="width: 100px">Chercher</button>
  </div>
</div>
