<div class="container">
  <h2>Chat :</h2>
  <table class="table container">
    <tbody>
      <tr *ngFor="let msg of list_message" class="d-flex">
        <td class="col-4">
          <tr>
            <p class="pt-1">
              Name : {{msg.name}}
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              Photo : {{msg.category}}
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              Item name : {{msg.state}}
            </p>
          </tr>
        </td>
        <td class="col-6">
          Last message :
          <div>{{msg.description}}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group has-search pt-3">
      <span class="fa fa-search form-control-feedback"></span>
      <textarea type="text" class="form-control" placeholder="Message" (keyup)="set_msg($event)"></textarea>
  </div>

  <div class="col-sm-2">
    <button class="btn btn-success" [disabled]="!(msg_boolean)" type="submit">Envoyer</button>
  </div>

</div>
