<div class="container-fluid h-100 mt-5">
 <div class="row justify-content-md-center">

  <div class="col-sm-3">
    <table class="table">
      <tr>
        <div class="btn btn-info" routerLinkActive="active" routerLink="../info">
         <h4>Information personnelle</h4>
        </div>
      </tr>
      <tr>
        <div class="btn btn-info mt-3" routerLinkActive="active" routerLink="../vente">
          <h4>Mes ventes</h4>
        </div>
      </tr>
      <tr>
        <div class="btn btn-info mt-3" routerLinkActive="active" routerLink="../achat">
          <h4>Mes achats</h4>
        </div>
      </tr>
      <tr>
        <div class="btn btn-info mt-3" routerLinkActive="active" routerLink="../annonce">
          <h4>Mes annonces</h4>
        </div>
      </tr>
      <tr>
        <div class="btn btn-info mt-3" routerLinkActive="active" routerLink="../review">
          <h4>Review</h4>
        </div>
      </tr>
      <tr>
        <div class="btn btn-dark mt-3" routerLinkActive="active" routerLink="..">
          <h4>Back</h4>
        </div>
      </tr>
    </table>
  </div>

  <div class="col-sm-7">
    <h1>Mes ventes</h1>
   <table class="table container">
     <tbody>
       <tr *ngFor="let item_id of list_items_user" class="d-flex" routerLinkActive="active" routerLink="../modifitem/{{item_id.id}}">
         <td class="col-2">
           <a href="https://imgur.com/{{item_id.images}}"><img src="https://i.imgur.com/{{item_id.images}}.jpg" title="source: imgur.com" style="width:100px"/></a>
         </td>
         <td class="col-4">
           <tr>
             <p class="pt-1">
               Titre: {{item_id.name}}
             </p>
           </tr>
           <tr>
             <p class="pt-1">
               Categorie: {{item_id.category}}
             </p>
           </tr>
           <tr>
             <p class="pt-1">
               Prix: {{item_id.price}} CHF
             </p>
           </tr>
           <tr>
             <p class="pt-1">
               {{item_id.state}}
             </p>
           </tr>
         </td>
         <td class="col-6">
           <p class="pt-1">
           {{item_id.description}}
           </p>
           <p class="pt-1">
             Privé ? {{item_id.sold}}
           </p>

         </td>
       </tr>
     </tbody>
   </table>
  </div>

</div>
</div>
